log_rotation_days: 1
log_rotation_backup: 10

tle_dir: /data/24/saf/polar_in/tle
tlefilename: tle-{time:%Y%m%d%H%M}.txt
site: nrk

viirs-ibands:

  areas_of_interest: [euron1]
  message_types: ['/segment/SDR/1B']
  publish_topic: ['/VIIRS/L2/AF']
  instrument: 'viirs'
  viirs_af_call: cspp_active_fire_noaa.sh
  num_of_cpus: 4
  offline:
    output_dir: /home/a000680/data/viirs_active_fires

  prod:
    output_dir: /data/24/saf/polar_out/viirs_active_fires

  test:
    output_dir: /data/prodtest/saf/polar_out/viirs_active_fires

  utv:
    output_dir: /data/proj/safutv/polar_out/viirs_active_fires


viirs-mbands:

  areas_of_interest: [euron1]
  message_types: ['/segment/SDR/1B']
  publish_topic: ['/VIIRS/L2/AF']
  instrument: viirs
  viirs_af_call: cspp_active_fire_noaa.sh
  num_of_cpus: 4
  offline:
    output_dir: /home/a000680/data/viirs_active_fires

  prod:
    output_dir: /data/24/saf/polar_out/viirs_active_fires

  test:
    output_dir: /data/prodtest/saf/polar_out/viirs_active_fires

  utv:
    output_dir: /data/proj/safutv/polar_out/viirs_active_fires

